# Pastas de build
/bin/
/obj/
/SaSmartPhone/bin/
/SaSmartPhone/obj/

# Arquivos locais do Visual Studio
.vs/
*.user
*.suo
*.db
*.sln.docstates

# ImGui Config
imgui.ini

# Outros temporários do compilador
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.ipch/
x64/
Debug/
Release/
source/temp/


