#include "resource.h"
#include <winres.h>

IDR_FONT_ROBOTO         RCDATA                  "..\\..\\..\\vendor\\imgui\\misc\\fonts\\Roboto-Medium.ttf"
IDR_FONT_AWESOME        RCDATA                  "..\\..\\..\\vendor\\fontawesome\\fa-solid-900.ttf"
